name: Checks

on: [ push ]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-20.04
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Docker Compose
        run: docker-compose up -d
      - name: Test
        run: docker-compose exec app sh -c "python manage.py test"
      - name: Show logs
        run: docker-compose logs

#      - name: Lint
#        run: docker-compose run --rm app sh -c "flake8"